
$fa-font-path: '../fonts/fontawesome';
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/node-normalize-scss/normalize";
@import "node_modules/prismjs/themes/prism";

$nav-bg-color: #8892BF;
$nav-link-color: #f2f2f2;
$nav-link-active-color: #ffffff;
@import "node_modules/mustard-ui/src/scss/mustard-ui.scss";

body {
  padding-top: 50px;
}

a:focus, a:hover {
  opacity: 1;
}

.row {
  margin-top: 0;
}

nav, .nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
  border-bottom: 4px solid #4F5B93;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}

.nav-logo {
  text-shadow: 1px 1px #4F5B93;
}

.nav-links {
  padding-top: 4px;
}

.nav-links a {
  font-weight: bold;
  padding: 0 20px;
}

.nav-links a:hover {
  background: #4F5B93;
}

.nav-links a.active {
  border-bottom: none;
  background: #4F5B93;
}

.sidebar-category {
  background: none;
}

.sidebar-category:focus, .sidebar-category:hover {
  cursor: default;
  opacity: 1;
}

.footer, footer {
  border-top: 4px solid #626262;
}